body {
  background-color: rgb(4, 58, 31);
  color: rgb(142, 60, 119);
  text-align:center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}